torch
torchaudio
tqdm
transformers
spacy
pandas
numpy
sentencepiece
soundfile
datasets
jiwer
librosa
sacremoses
# evaluate
# shutil
editdistance
omegaconf
hydra-core
bitarray
sacrebleu
cython
deep_translator
accelerate
bitsandbytes